.ant-layout-header{
    line-height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.logo{
    color: white;
}
.cart-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
}
.cart-item p{
    margin-top: 10px;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.spinner-border{
    height: 100px;
    width: 100px;
    font-weight: 600;
}
.category{
    border: 2px solid gray;
    margin-right: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;

}
.category img{
    margin-left: 10px;
}
.category-active{
    border: 2px solid green;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px ;
}
.register input{
    width: 400px;
}
